// Native
$white = #FFFFFF

// Brand
$brand-black = #3C3C3C
$brand-green = #00FF97
$brand-grey-dark = #757575
$brand-grey-light = #D6D6D6
$brand-white = #F6F6F6
$brand-accent-purple = #CC81E5
$brand-accent-blue = #00CBC6
$brand-accent-orange = #FF8165
$brand-accent-yellow = #FFE768

// Background
$background-page = $brand-white
$background-card-white = $white
$background-card-green = $brand-green
$background-card-purple = $brand-accent-purple
$background-card-blue = $brand-accent-blue
$background-card-orange = $brand-accent-orange
$background-card-yellow = $brand-accent-yellow

// Text
$text-black = $brand-black
$text-grey = $brand-grey-dark
$text-white = $brand-white
