// Header
$size-header-label = 1.8rem

// Footer
$size-footer-link = 1.4rem

// Card
$size-card-title = 4.8rem
$size-card-title-mobile = 2.4rem

$size-card-label = 1.4rem
$size-card-label-mobile = 1.2rem

$size-card-description = 2.4rem
$size-card-description-mobile = 1.4rem

// Section
$size-section-title = 3.6rem
$size-section-title-mobile = 2.0rem

$size-section-label = 1.8rem
$size-section-label-mobile = 1.2rem

// Article
$size-article-title = 6.0rem
$size-article-title-mobile = 6.0rem

$size-article-description = 2.0rem
$size-article-description-mobile = 2.0rem

$size-article-label = 1.8rem
$size-article-label-mobile = 1.8rem

$size-article-heading = 3.6rem
$size-article-heading-mobile = 3.6rem

$size-article-body = 1.8rem
$size-article-body-mobile = 1.8rem

$size-article-caption = 1.4rem
$size-article-caption-mobile = 1.4rem

// Article - Discover
$size-article-discover-title = 2.4rem
$size-article-discover-title-mobile = 2.4rem

$size-article-discover-card-title = 2.8rem
$size-article-discover-card-title-mobile = 2.8rem

$size-article-discover-card-label = 1.4rem
$size-article-discover-card-label-mobile = 1.4rem

$size-article-discover-card-description = 1.4rem
$size-article-discover-card-description-mobile = 1.4rem
