// Circular
@font-face {
	font-family Circular Book
	font-style normal
	src url(../../assets/fonts/Circular/CircularStd-Book.otf)
}
@font-face {
	font-family Circular Book Italic
	font-style normal
	src url(../../assets/fonts/Circular/CircularStd-BookItalic.otf)
}

@font-face {
	font-family Circular Medium
	font-style normal
	src url(../../assets/fonts/Circular/CircularStd-Medium.otf)
}
@font-face {
	font-family Circular Medium Italic
	font-style normal
	src url(../../assets/fonts/Circular/CircularStd-MediumItalic.otf)
}

@font-face {
	font-family Circular Bold
	font-style normal
	src url(../../assets/fonts/Circular/CircularStd-Bold.otf)
}
@font-face {
	font-family Circular Bold Italic
	font-style normal
	src url(../../assets/fonts/Circular/CircularStd-BoldItalic.otf)
}

@font-face {
	font-family Circular Black
	font-style normal
	src url(../../assets/fonts/Circular/CircularStd-Black.otf)
}
@font-face {
	font-family Circular Black Italic
	font-style normal
	src url(../../assets/fonts/Circular/CircularStd-BlackItalic.otf)
}

// IBM Plex Sans
@font-face {
	font-family Plex Thin
	font-style normal
	src url(../../assets/fonts/Plex/IBMPlexSans-Thin.otf)
}
@font-face {
	font-family Plex Thin Italic
	font-style italic
	src url(../../assets/fonts/Plex/IBMPlexSans-ThinItalic.otf)
}

@font-face {
	font-family Plex ExtraLight
	font-style normal
	src url(../../assets/fonts/Plex/IBMPlexSans-ExtraLight.otf)
}
@font-face {
	font-family Plex ExtraLight Italic
	font-style italic
	src url(../../assets/fonts/Plex/IBMPlexSans-ExtraLightItalic.otf)
}

@font-face {
	font-family Plex Light
	font-style normal
	src url(../../assets/fonts/Plex/IBMPlexSans-Light.otf)
}
@font-face {
	font-family Plex Light Italic
	font-style italic
	src url(../../assets/fonts/Plex/IBMPlexSans-LightItalic.otf)
}

@font-face {
	font-family Plex Text
	font-style normal
	src url(../../assets/fonts/Plex/IBMPlexSans-Text.otf)
}
@font-face {
	font-family Plex Text Italic
	font-style italic
	src url(../../assets/fonts/Plex/IBMPlexSans-TextItalic.otf)
}

@font-face {
	font-family Plex Regular
	font-style normal
	src url(../../assets/fonts/Plex/IBMPlexSans-Regular.otf)
}
@font-face {
	font-family Plex Regular Italic
	font-style italic
	src url(../../assets/fonts/Plex/IBMPlexSans-Italic.otf)
}

@font-face {
	font-family Plex Medium
	font-style normal
	src url(../../assets/fonts/Plex/IBMPlexSans-Medium.otf)
}
@font-face {
	font-family Plex Medium Italic
	font-style italic
	src url(../../assets/fonts/Plex/IBMPlexSans-MediumItalic.otf)
}

@font-face {
	font-family Plex Semibold
	font-style normal
	src url(../../assets/fonts/Plex/IBMPlexSans-SemiBold.otf)
}
@font-face {
	font-family Plex Semibold Italic
	font-style italic
	src url(../../assets/fonts/Plex/IBMPlexSans-SemiBoldItalic.otf)
}

@font-face {
	font-family Plex Bold
	font-style normal
	src url(../../assets/fonts/Plex/IBMPlexSans-Bold.otf)
}
@font-face {
	font-family Plex Bold Italic
	font-style italic
	src url(../../assets/fonts/Plex/IBMPlexSans-BoldItalic.otf)
}
